[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
numpy = "*"
pandas = "*"
konlpy = "*"
tensorflow = "*"
flask-cors = "*"
keras = "*"
gensim = "*"

[dev-packages]

[requires]
python_version = "3.7"
